<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	
	<appender name="FILE" class="org.apache.log4j.FileAppender">
  	 	<param name="file" value="/opt/jboss-inst1/standalone/log/MC/log.out"/>
   		<param name="immediateFlush" value="true"/>
   		<param name="threshold" value="debug"/>
  		<param name="append" value="false"/>
   
   <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss,SSS} %p (%t) [%c] - %m%n"/>
   </layout>
</appender>
	
	<!-- Application Loggers -->
	<logger name="es.indra.inc">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="debug" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="debug" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="debug" />
	</logger>

	<logger name="org.springframework.web">
		<level value="debug" />
	</logger>

	<!-- Root Logger -->
	<root>
		<appender-ref ref="FILE"/>
	</root>
	
</log4j:configuration>
